{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
<main class="p-6">
    <!-- Profile Header -->
    <div class="flex px-6 pt-6 w-full max-w-6xl">
        <div class="flex-1 w-full">
            <h1 class="font-bold text-3xl text-[#111713]">{{ to_user.first_name }} {{ to_user.last_name }}</h1>
            <a href="{% url 'users:user_profile' to_user.id %}"><p class="text-gray-500 mb-6">@{{ to_user.username }}</p></a>
            <div class="flex space-x-6">
                <a href="{% url 'subscriber' to_user.id %}"><span class="text-[#111713]">{{followers.count}} followers</span></a>
                <a href="{% url 'subscription' to_user.id %}"><span class="font-bold text-[#111713] underline">{{followings.count}} followings</span></a>
            </div>
        </div>
    </div>

    <hr class="mb-6 w-full">

    <!-- Subscribers List -->
    <div class="space-y-6 w-full ml-6">
        {% for following in followings %}
        <div class="flex justify-between">
            <!-- Avatar and Name -->
            <div class="flex items-center">
                {% if following.to_user.photo %}
                    <img class="rounded-full object-cover w-12 h-12" src="{{ following.to_user.photo.url }}">
                {% else %}
                    <img class="rounded-full object-cover w-12 h-12" src="{% static '/users/default.png' %}">
                {% endif %}
                <div class="ml-4">
                    <p class="font-bold text-[#111713]">{{ following.to_user.first_name }} {{ following.to_user.last_name }}</p>
                    <a href="{% url 'users:user_profile' following.to_user.id %}"><p class="text-gray-500">@{{ following.to_user.username }}</p></a>
                </div>
            </div>

            {% if following.to_user.id in following_ids %}
                <button class="w-45 py-2 px-4 rounded-xl border border-gray-300 text-gray-700 font-semibold hover:bg-gray-100 transition ">
                    Unfollow
                </button>
            {% elif following.to_user.id != user.id %}
                <button class="w-45 py-2 px-4 rounded-xl border border-gray-300 text-gray-700 font-semibold hover:bg-gray-100 transition ">
                    Follow
                </button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
